body{
    text-align: center;
    background-color: aqua;
}

#name{
    margin-bottom: 10px;
    margin-left: 20px;
    width: 200px;
    height: 30px;
}

#tel{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 30px;
}

textarea{
    margin-top: 10px;
    width: 200px;
    margin-right: 80px;

}

#label{
    vertical-align: +15px;
    margin-right: 10px;
}

#button{
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
}